.section2{
    background-color: white;
}
.section2{
    margin-left: 25px;
}
.row{
    padding-left: 0px;
    padding-top: 30px;
}
.media-body{
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}
  .media {
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 28rem;
    height: 10rem;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.media:hover, .media:focus, .media:active {
    background-image:linear-gradient(pink,skyblue);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  @media screen and (max-width:760px){
    .media{
        height:150px;
        width:330px;
    }
    .section2{
        max-width: 375px;
        margin-left: 0px;
    }
    .media-body{
        padding-left: 0%;
        padding-right: 0%;
    }
    .text{
        font-size: 30px;
    }
  }
